.header {
  width: 100%;
}

.headerContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
}

.toggleMenu {
  cursor: pointer;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn {
  font-size: 1rem;
}

.themeMode {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

/* Breakpoints - Abordagem "Mobile First" */

@media (max-width: 640px) {}

@media (max-width: 768px) {
  .header h1 {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {}

@media (max-width: 1536px) {}
